.controls {
  position:fixed;
  top:0;
  left:0;
  //opacity:0;
  padding:40px;

  // &:hover {
  //   opacity:1;
  // }

  button {
    background-color: #fefefe;
    border:1px solid #ccc;
    box-shadow:0 1px 5px rgba(black, .1);
    border-radius:5px;
    padding:.25em .5em;
    font-size:16px;

    &:hover {
      background: #f0f0f0;
      border-color: #999;
    }
  }
}

body {
  &.is-floating-mode, &.is-init-mode {
    .button-floating-mode, .button-speed-control {
      display:none;
    }
  }

  &.is-interactive-mode {
    .button-interactive-mode {
      display:none;
    }
  }
}