body {
  visibility: visible !important;
}

.loading-overlay, .start-screen {
  position: fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:$color-dark;
  z-index:9999999;
  display:flex;
  align-items:center;
  justify-content: center;
  font-family: 'Apercu';
  color: $color-light;
  text-align:center;

  h1 {
    font-size:40px;
    margin: 0 0 .5em 0;
  }

  p {
    font-size:30px;
    font-weight:normal;
    max-width:500px;
    margin: 0 0 1em 0;
  }

  button {
    font-family:'Apercu', sans-serif;
    background-color: #fff;
    border:none;
    font-size:26px;
    padding:13px 20px;
    text-transform: uppercase;
    border-radius:3px;
    color: $color-dark;
    font-weight:bold;
    margin: 20px 0 0 0;
    transition: transform .2s;

    &:hover {
      background-color: rgba(255,255,255, .8);
      transform:scale(1.1);
    }
  }

  small {
    display:block;
    margin: 2em 0 1em 0;
    font-size:14px;
    line-height:1.5;
    color: rgba(255, 255, 255, .5);
  }
}

.loading-overlay {
  z-index:9999999 + 1;
  img {
    width:60px;
    height:60px;
    filter: invert(100%);
  }
}

body.is-ready {
  .loading-overlay {
    transition: color .5s ease;
    color: transparent;
    animation: fadeOut 1s forwards;
  }
}

body.is-initiated {
  .start-screen {
    transition: color .5s ease;
    color: transparent;
    animation: fadeOut 1s forwards;

    button {
      visibility: hidden;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
    visibility: visible;
  }

  100% {
    opacity:0;
    visibility:hidden;
  }
}