.slides-container {
  overflow:hidden;
  width:(2 * $slidePadding + $numberSlides) * $slideWidth;

  .slide {
    overflow:visible;
    position: relative;
    float:left;
    width:$slideWidth;
    height:100vh;

    background-size: 100% 100%;

    @for $i from 1 through 13 {
      &.slide-#{$i} {
        background-image:url('./assets/img/wall/wall-#{$i}.jpg');
      }
    }

    &::after {
      content:'';
      display:block;
      position:absolute;
      margin:2%;
      width:96%;
      height:96%;
      border:2px solid #ccc;
    }
    
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:80px;
  }
}
