#container {
   overflow:auto;
   width:3*60vw;

  .slide {
    float:left;
    width:60vw;
    height:100vh;

    background:grey;

    &:nth-child(even) {
      background:rgba(grey, .8);
    }
  }
}