$slideWidth: 200vh; // Ratio
$slidePadding: 3;
$numberSlides: 4;

html, body {
  overflow:hidden;
}

.slides-container {
  overflow:hidden;
  width:(2 * $slidePadding + $numberSlides) * $slideWidth;

  .slide {
    overflow:visible;
    position: relative;
    float:left;
    width:$slideWidth;
    height:100vh;

    background-image:url(./assets/img/brickwall_@2X.png);
    background-size: 110px 69px;

    &::after {
      content:'';
      display:block;
      position:absolute;
      margin:2%;
      width:96%;
      height:96%;
      border:2px solid #ccc;
    }
    
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:80px;

    .slide-item {
      position:absolute;
      top:20%;
      left:40%;
      width:50vh;
      height:30vh;
      background:red;
      box-shadow: 0 5px 20px rgba(black, .1);
      z-index:100;
    }

    .slide-item-img {
      position: absolute;
      top:10%;
      left:30%;
      width:auto;
      height:50vh;
      z-index:100;
    }

    //background:grey;

    // &:nth-child(even) {
    //   background:rgba(grey, .8);
    // }
  }
}

.controls {
  position:fixed;
  top:40px;
  left:40px;

  button {
    background-color: #fefefe;
    border:1px solid #ccc;
    box-shadow:0 1px 5px rgba(black, .1);
    border-radius:5px;
    padding:.25em .5em;
    font-size:16px;

    &:hover {
      background: #f0f0f0;
      border-color: #999;
    }
  }
}
